<div class="jumbotron">
    
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-3">Cursos</h1>
        <div>
            <a class="btn btn-primary btn-lg" href="/"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-original-title="Voltar"
            role="button">
            <i class="fa-solid fa-circle-left"></i></a>
            <a class="btn btn-primary btn-lg" 
        href="/curso/create" role="button"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-original-title="Adicionar Novo">
        <i class="fa-solid fa-circle-plus"></i></a>
        </div>
    </div>
    <hr class="my-4">

</div>


<div class="row">
    {{#if cursos}}
    {{#each cursos}}
    <div class="col-lg-4">
    <div class="card mb-3">
        <h3 class="card-header">
            <div>{{nome}}</div>
            <div>
                <a href="/curso/update/{{id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="#" class="delete-link" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="{{id}}"><i class="fa-solid fa-trash"></i></a>
            </div>
        </h3>

        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Sigla: </strong>{{sigla}}</li>
            <li class="list-group-item"><strong>Nome: </strong>{{nome}}</li>
            <li class="list-group-item"><strong>Descrição: </strong>{{descricao}}</li>
            <li class="list-group-item"><strong>Área: </strong>{{Area.nome}}</li>
        </ul>
        </div>
    </div>
    {{/each}}
    {{else}}
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <h4 class="alert-heading">Alerta!</h4>
            <p class="mb-0">Nenhum resultado retornado.</p>
        </div>
    {{/if}}
</div>

<!-- Modal de Confirmação -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja excluir este curso?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a id="confirmDeleteBtn" href="#" class="btn btn-danger">Confirmar Exclusão</a>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteLinks = document.querySelectorAll('.delete-link');
        const confirmDeleteBtn = document.getElementById('confirmDeleteBtn');

        let courseIdToDelete = null;

        deleteLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                courseIdToDelete = this.getAttribute('data-id');
            });
        });

        confirmDeleteBtn.addEventListener('click', function () {
            if (courseIdToDelete) {
                this.href = '/curso/remove/' + courseIdToDelete;
                courseIdToDelete = null;
            }
        });
    });
</script>
