{{#if error}}
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h4 class="alert-heading">Erro!</h4>
    <p class="mb-0">{{msg}}</p>
</div>
{{else}}
<form id="formulario" action="/curso/update/{{id}}" method="post">

    <fieldset>
        <div class="jumbotron">
        
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="display-3">Atualizar Curso</h1>
                <a class="btn btn-primary btn-lg" href="/curso"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                data-bs-original-title="Voltar"
                role="button">
                <i class="fa-solid fa-circle-left"></i></a>
            </div>
            <hr class="my-4">
    
        </div>
        <fieldset class="form-group">
            <div class="form-group">
                <label for="sigla" class="form-label mt-4">Sigla</label>

                {{#if (showError errors 'sigla')}}
                    <input type="text" name="sigla" class="form-control is-invalid" id="sigla" aria-describedby="sigla do curso" value="{{curso.sigla}}" placeholder="Enter sigla">
                {{else}}
                    <input type="text" name="sigla" class="form-control" id="sigla" aria-describedby="sigla do curso" value="{{curso.sigla}}" placeholder="Enter sigla">
                {{/if}}

                <div class="invalid-feedback">{{showError errors 'sigla'}}</div>
            </div>
            <div class="form-group">
                <label for="nome" class="form-label mt-4">Nome</label>
                {{#if (showError errors 'nome')}}
                    <input type="text" name="nome" class="form-control is-invalid" id="nome" aria-describedby="nome do curso" value="{{curso.nome}}" placeholder="Enter nome" required>
                {{else}}
                    <input type="text" name="nome" class="form-control" id="nome" aria-describedby="nome do curso" value="{{curso.nome}}" placeholder="Enter nome" required>
                {{/if}}
                <div class="invalid-feedback">{{showError errors 'nome'}}</div>
            </div>

            <div class="form-group">
                <label for="descricao" class="form-label mt-4">Descrição do Curso</label>
                {{#if (showError errors 'descricao')}}
                    <textarea class="form-control is-invalid" name="descricao" id="descricao" rows="3">{{curso.descricao}}</textarea>
                {{else}}
                    <textarea class="form-control" name="descricao" id="descricao" rows="3">{{curso.descricao}}</textarea>
                {{/if}}
                 <div class="invalid-feedback">{{showError errors 'descricao'}}</div>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <legend class="mt-4">Áreas do Conhecimento</legend>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="areaId" id="areaId1" value="1" {{#if (eq curso.areaId 1)}}checked{{/if}}>
                <label class="form-check-label" for="areaId1">
                Ciências Exatas - Computação, Engenharias, Matemática, etc.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="areaId" id="areaId2" value="2" {{#if (eq curso.areaId 2)}}checked{{/if}}>
                <label class="form-check-label" for="areaId2">
                Ciências Humanas - Letras, Psicologia, História, etc.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="areaId" id="areaId3" value="3" {{#if (eq curso.areaId 3)}}checked{{/if}}>
                <label class="form-check-label" for="areaId3">
                Ciências Biológicas - Medicina, Odontologia, etc.
                </label>
            </div>
        </fieldset>
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <div style="margin-top: 20px;">
            <button  id="btn-send" type="submit" value="Enviar" class="btn btn-primary btn-lg btn-block ">Atualizar</button>
        </div>
    
    </fieldset>

</form>
{{/if}}